**/generated_synthetic_data/
**/augmented_sanskrit_dataset/
**/combined_data/
**/processed_data_gnn/
**/training_runs/
**/__pycache__/

app/recognition/pretrained_model/devanagari.pth
/recognition/pretrained_model/vadakautuhala.pth

# Vue app (app/my-app)
app/my-app/node_modules/
app/my-app/dist/
app/my-app/.vite/

# Env files
app/my-app/.env
app/my-app/.env.*
app/.env
app/.env.*

# Logs
app/my-app/npm-debug.log*


